/* Estilos para tamaños de pantalla mediana(Tablet) */
@media screen and (max-width: 1207px) {
  #logo {
    width: 170px;
    height: auto;
    position: absolute;
    top: 5px;
    left: 25px;
  }

  #search-container {
    top: 5px;
    right: 10px;
  }

  #searchInput {
    top: 110px;
    right: 120px;
    width: calc(60% - 50px);
    margin-right: 0;
  }

  #searchButton {
    top: 110px;
    right: 120px;
    width: 60px;
    height: 57px;
  }

  nav {
    position: absolute;
    top: 160px;
    right: 260px;
  }

  #userProfileImage {
    top: 30px;
    right: 20px;
  }

  #profileOptions {
    top: 55px;
    right: 100px;
    font-size: medium;
  }
}

/* Estilos para tamaños de pantalla pequeños (Teléfono) */
@media screen and (max-width: 767px) {
  #logo {
    width: 170px;
    height: auto;
    position: absolute;
    top: 5px;
    left: 25px;
  }

  #search-container {
    top: 5px;
    right: 10px;
  }

  #searchInput {
    top: 110px;
    right: 120px;
    width: calc(60% - 50px);
    margin-right: 0;
  }

  #searchButton {
    top: 110px;
    right: 120px;
    width: 60px;
    height: 57px;
  }

  nav {
    position: absolute;
    top: 160px;
    right: 160px;
  }

  #userProfileImage {
    top: 30px;
    right: 20px;
  }

  #profileOptions {
    top: 55px;
    right: 100px;
    font-size: medium;
  }
}

/* Estilos para tamaños de pantalla medianos (Tablet) */
@media screen and (max-width: 1023px) {
  #inicio h1 {
    font-size: 36px;
    margin-left: 20px;
    text-align: center;
  }

  #inicio p,
  .start-button {
    margin-left: 20px;
    text-align: center;
    
  }

  .start-button {
    z-index: 1;
  }

  #inicio #welcomeImage {
    left: 50mm;
    bottom: 30mm;
    width: 120%;
    z-index: -1;
    max-width: 600px;
  }
}

/* Estilos para tamaños de pantalla pequeños (Teléfono) */
@media screen and (max-width: 767px) {
  #inicio h1 {
    font-size: 38px;
    text-align: center;
    margin-left: 10px;
  }

  #inicio p {
    margin-left: 10px;
    text-align: center;
  }

  #inicio .start-button {
    position: absolute;
    left: 150px;
    bottom: -60mm;
    z-index: 2;
  }

  #inicio #welcomeImage {
    left: 20px;
    bottom: 45px;
    width: 100%;
    max-width: 530px;
  }

  /* Estilos para tamaños de pantalla medianos (Tablet) */
  @media screen and (max-width: 1023px) {
    #top-songs h2 {
      position: absolute;
      top: 300mm;
      font-size: 28px;
    }

    .youtube-container {
      top: 180mm;
      left: 150mm;
    }

    .chart-bar-container {
      top: 280mm;
      left: 5mm;
    }

    .chart-column {
      width: 100%;
    }
    
    .chart-label {
      font-size: 10px;
    }
  }

  /* Estilos para tamaños de pantalla pequeños (Teléfono) */
@media screen and (max-width: 767px) {

  /* Estilos para tamaños de pantalla pequeños (Teléfono) */
@media screen and (max-width: 767px) {

  .youtube-container {
    top: 420mm;
    left: 50px;
  }

  #top-songs h2 {
    bottom: 15mm;
    font-size: 24px;
  }

  .chart-bar-container {
    top: 330mm;
    left: 5mm;
    margin: 0;
    width: 93%; /* Cambiado para ocupar todo el ancho */
    padding: 0;
    display: flex;
    flex-direction: row-reverse; /* Cambiado a dirección horizontal invertida */
    justify-content: flex-end; /* Alineado a la derecha */
  }

  .chart-bar {
    flex: 1;
    height: auto; /* Ajuste para cambiar la altura automáticamente */
    transition: width 0.3s ease; /* Cambiado de height a width para la animación */
    flex-direction: row; /* Cambiado a dirección horizontal */
  }

  .chart-label {
    font-size: 10px;
    white-space: nowrap; /* Evita saltos de línea en etiquetas */
  }

  .chart-column {
    width: auto;
  }
}

  /* Estilos para tamaños de pantalla medianos (Tablet) */
@media screen and (max-width: 1023px) {
  #artistCarousel {
    padding: 5px;
  }

  .artist-card {
    margin-right: 10px;
  }

  #top-artists-albums {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
  }
  
  #top-artists-albums h2 {
    font-size: 28px;
    color: #1D1C25;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    /* Utiliza la fuente Montserrat */
  }
}

/* Estilos para tamaños de pantalla pequeños (Teléfono) */
@media screen and (max-width: 767px) {
  #artistCarousel {
    padding: 5px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    bottom: -1000px;
  }

  #top-artists-albums {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
  }
  
  #top-artists-albums h2 {
    font-size: 28px;
    color: #1D1C25;
    position: absolute;
    top: 330px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    /* Utiliza la fuente Montserrat */
  }

  .artist-card {
    margin-right: 10px;
    min-width: 150px;
  }

  .artist-card img {
    height: 150px;
  }

  .artist-details {
    padding: 10px;
  }
}

/* Media Query para Tablets */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-column {
    flex: 1;
    margin-bottom: 20px;
    margin-left: 0;
  }
  footer {
    background-color: #1D1C25;
    color: white;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 600mm;
  }
}

/* Media Query para Móviles */
@media screen and (max-width: 480px) {
  .footer-column {
    flex: 1;
    margin-top: 20px;
    margin-left: 0;
  }
}
footer {
  background-color: #1D1C25;
  color: white;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
  }
}