/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .menu-toggle {
      display: block; /* Mostrar menú hamburguesa en pantallas pequeñas */
      position: absolute;
      top: 30px; /* Alineado con el logo */
      right: 30px; /* Alineado con el borde */
      cursor: pointer;
      background-color: transparent; /* Fondo transparente */
      border: none; /* Sin borde */
      font-size: 24px; /* Tamaño de la hamburguesa */
      color: #F5F5F5; /* Color del ícono */
    }
  
    nav {
      flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
      display: none; /* Ocultar el menú por defecto */
      width: 100%; /* Asegurar que ocupe el ancho completo */
    }
  
    nav.active {
      display: flex; /* Mostrar menú cuando está activo */
    }
  }

  @media (max-width: 768px) {
    .flip-card {
      width: 150px; /* Ajusta según sea necesario */
    }
  
    .artist-image {
      height: 120px; /* Ajusta según sea necesario */
    }
  }
  